<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/account.css" th:href="@{/css/account.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User edit page</title>
</head>
<body>
<ul>
    <li class="leftLi"><a href="/static">Home</a></li>
    <li class="leftLi"><a href="/catalog">Catalog</a></li>
    <li class="secondLi"><a href="/logout">Logout</a></li>
    <li class="secondLi"><a th:href="@{/account/{userId}(userId=${editUserDto.getId()})}">Profile</a></li>
</ul>
<div class="sidebar">
    <a class="cartBut" th:href="@{/account/{userId}/cart(userId=${userId})}"><i class="fa fa-cart-arrow-down"></i> Cart</a>
    <a class="histBut" th:href="@{/account/{userId}/orders(userId=${userId})}"><i class="fa fa-history"></i> Orders</a>
    <a class="editBut" th:href="@{/account/{userId}/update_info(userId=${userId})}"><i class="fa fa-fw fa-user"></i>Edit
        info</a>
    <a class="passBut" th:href="@{/account/{userId}/block_users(userId=${userId})}" sec:authorize="hasAuthority('ROLE_ADMIN')"><i class="fa fa-users"></i> Block users</a>

</div>
<div class="main">
    <div id="mainBorder">
        <h3>Change password:</h3>
        <span class="errorSpan" th:if="${(error != null) and (not error)}">Entered passwords do not match!</span>
        <form th:action="@{/account/{userId}/update_pass(userId=${userId})}" th:object="${editUserDto}"
              th:method="post"
              id="form">
            <label for="newPass">Enter new password: </label>
            <input class="input" id="newPass" type="password" th:field="*{password}"/>
            <label for="repeat">Repeat new password: </label>
            <input class="input" id="repeat" type="password" th:field="*{repeatedPassword}"/>
            <input class="input" type="hidden" th:field="*{id}" th:value="${editUserDto.getId()}"/>
            <input class="submitButton" type="submit" value="Update"/>
            <input class="submitButton" type="reset" value="Clear"/>
        </form>
    </div>
</div>
</body>
</html>