<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/account.css" th:href="@{/css/account.css}">
    <title>Order</title>
</head>
<body>
<ul>
    <li class="leftLi"><a href="/">Home</a></li>
    <li class="leftLi"><a href="/catalog">Catalog</a></li>
    <li class="secondLi"><a href="/logout">Logout</a></li>
    <li class="secondLi"><a th:href="@{/account/{userId}(userId=${userId})}">Profile</a></li>
</ul>
<div class="sidebar">
    <a class="cartBut" th:href="@{/account/{userId}/cart(userId=${userId})}">
        <i class="fa fa-cart-arrow-down"></i> Cart</a>
    <a class="histBut" th:href="@{/account/{userId}/orders(userId=${userId})}"><i class="fa fa-history"></i> Orders</a>
    <a class="editBut" th:href="@{/account/{userId}/update_info(userId=${userId})}">
        <i class="fa fa-fw fa-user"></i>Edit info</a>
    <a class="passBut" th:href="@{/account/{userId}/update_pass(userId=${userId})}">
        <i class="fa fa-lock"></i> Change pass</a>
    <a class="passBut" th:href="@{/account/{userId}/block_users(userId=${userId})}" sec:authorize="hasAuthority('ROLE_ADMIN')"><i class="fa fa-users"></i> Block users</a>
</div>
<div class="main">
    <div id="mainBorder">
        <h3>Order details:</h3>
        <table>
            <tr>
                <th><span class="accSpan">Product</span></th>
                <th><span class="accSpan">Amount</span></th>
                <th><span class="accSpan">Cost</span></th>
            </tr>
            <tr th:each="cart : ${orderDto.getCarts()}">
                <td><span class="accSpan" th:text="${cart.getProduct().getProductName()}"></span></td>
                <td style="text-align: center"><span class="accSpan" th:text="${cart.getAmount()}"></span></td>
                <td style="padding: 0 0 0 10px"><span class="accSpan" th:text="${cart.getPrice()}"></span></td>
            </tr>
            <tr>
                <td><span style="color: #ffbd2a">Total cost: </span></td>
                <td></td>
                <td style="padding: 0 0 0 10px"><span style="color: #ffbd2a" th:text="${orderDto.getTotalPrice()}"></span></td>
            </tr>
        </table> <br>
        <form th:action="@{/{userId}/ordered(userId=${userId})}" th:object="${orderDto}" method="post">
            <input type="hidden" th:value="${orderDto.getId()}" th:field="*{id}"/>
            <label for="address">Choose delivery address: </label>
            <select class="input" style="width: fit-content" id="address" th:field="*{addressId}">
                <th:block th:each="address : ${addresses}">
                    <option style="color: #111111" th:value="${address.getId()}">
                        <span class="accSpan" th:text="'н.п. ' + ${address.city} + ','"/>
                        <span class="accSpan" th:text="'улица ' + ${address.street} + ','"/>
                        <span class="accSpan" th:text="'д. ' + ${address.house}"/>
                        <span class="accSpan" th:text="', корпус ' + ${address.building}" th:if="(${address.building} != null) and (${address.building} != '')"/>
                        <span class="accSpan" th:text="', кв. ' + ${address.flat}" th:if="(${address.flat} != null) and (${address.flat} != '')"/>
                    </option>
                </th:block>
            </select>
            <button class="submitButton" type="submit">Order</button>
        </form>
    </div>
</div>
</body>
</html>