body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    background-color: #2B2B2BFF;
    top: 0;
}

li {
    display: inline;
    float: left
}

li a {
    text-decoration: none;
    display: block;
    color: #f2f3f4;
    padding: 14px 16px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

li a:hover {
    background-color: #e6b333;
}


